<!DOCTYPE HTML>
<html>
  <head>
    <link href="css/application.css" rel="stylesheet" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  </head>
  <body>
    <div class="player_one">
      <p> Player 1: </p> <%= session[:game].player_one_type %>
      <%= session[:game].player_one_piece %>
    </div>
    <div class = "player_two">
      <p> Player 2: </p> <%= session[:game].player_two_type %>
      <%= session[:game].player_two_piece %>
    </div>
    <form method="post" action="/move">
      <ul class="board clearfix">
        <% count = 0 %>
        <% 9.times do %>
          <li id="<%= count %>" class="square">
            <input type="submit" name="square" value="<%= count %>">
            <%= session[:game_state].board[count] %>
          </li>
          <% count += 1 %>
        <% end %>
      </ul>
    </form>
  </body>
</html>